# =========================
# SERVER
# =========================
PORT=3000

# Prefixo obrigatório para comandos
COMMAND_PREFIX=docker

# =========================
# SEGURANÇA
# =========================

# Números autorizados (somente dígitos, separados por vírgula)
ALLOWED_NUMBERS=556599999999

# Containers permitidos (somente esses podem ser manipulados)
ALLOWED_CONTAINERS=teste-nginx

# =========================
# LOGS E RATE LIMIT
# =========================
MAX_LOG_LINES=50
RATE_LIMIT_MAX=10
RATE_LIMIT_WINDOW_SEC=60
AUDIT_LOG_FILE=audit.log

# =========================
# EVOLUTION API
# =========================
EVOLUTION_URL=http://localhost:8080
EVOLUTION_INSTANCE=botdocker
EVOLUTION_APIKEY=COLOQUE_SUA_APIKEY_AQUI